@import "tailwindcss";

@theme {
  /*---FONTS---*/
  --font-quote: "Architects Daughter", sans-serif;
  --font-main: "Chiron GoRound TC", sans-serif;
  --font-numbers: "Montserrat Alternates", monospace;

  /*Light theme*/
  --color-lightb: #bbbdf6; /*light theme background*/
  --color-lightdiv: #c7bce6; /*light theme divs */

  /*Dark Theme*/
  --color-darkb: #585858; /*Dark theme background*/
  --color-darkdiv: #626262; /*Dark theme divs*/

  /*Dark theme font colors*/
  --color-mint-cream: #f2f7f2; /* Primary text */
  --color-lighter-text: #a0a8a0; /* Secondary text, labels, dates */
  --color-lighter: #d1d5db; /*Ligter text for dark mode*/

  /*Light theme font colors*/
  --color-dark-text: #1a1a1a; /*Primary Text*/

  /* Start-stop button*/
  --color-start: #059669; /*start*/
  --color-stop: #dc2626; /*stop*/
  --color-darkb-hover: #4a4a4a; /*hover for set work/break time buttons*/

  /*div rounded*/
  --radius-xl: 1rem;
}
